div{
    width: 500px;
    height: auto;
    color: crimson;
    font-family: sans-serif;
    margin: 50px;
    padding: 20px;
    border: 4px;
}
div#box > .box-content{
    font-family: sans-serif;
    color: blue;
    background-color: white;
}
div#box > p > span{
    font-weight: bold;
    color: black;
}