div#box1{
    width: 500px;
    margin: 100px;
    padding: 20px;
    border: 4px solid red;
    background-color: black;
    font-family: sans-serif;
    color: red;
    font-weight: bold;
    line-height: 2em;
    box-shadow: 12px 12px 12px black
}

div#box2{
    width: 500px;
    margin: 100px;
    height: auto;
    padding: 20px;
    background-color: black;
    border: 4px solid teal;
    box-shadow: 12px 12px 12px black;
    border-radius: 5px;
    color: teal;
    font-family: sans-serif;
    font-weight: bold;
}

span{
    font-weight: bold;
    font-size: large;
    font-family: helvetica;
    color: white;
}